<ngx-loading [show]="isLoading"></ngx-loading>
<div ngClass="header"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="50px">
   <img ngClass="img"
                ngClass.md="img-md"
                ngClass.sm="img-sm"
                ngClass.xs="img-xs"
                src="/assets/shopping.png"/>
   <h2>Welcome</h2>
  </div>
<div ngClass="container">
     <h3 fxLayoutAlign="center">SIGNUP</h3>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && signup()">
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Phone number" maxlength="10" minlength="10" formControlName="phoneNo">
          </mat-form-field>

          <mat-form-field>
            <mat-select formControlName="country" placeholder="Select a Country">
              <mat-option *ngFor="let country of countries" [value]="country">
                {{country}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
          </mat-form-field>

          <div fxLayout="column" fxLayoutAlign="space-evenly center">
                 <ec-button type="submit">Login</ec-button>
            <div>OR</div>
            <div class="google-btn" (click)="signupWithGoogle()">
                <img height="20" width="20" src="/assets/google.png"/>
            </div>
              <a routerLink="/signup">
                <ec-button [outline]="true" type="submit">Sign Up</ec-button>
              </a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
<div class="footer">
</div>

