<link rel="stylesheet" href="../../../../styles.scss">
<div class="container" fxLayout="row" fxLayoutAlign="center center" >
  <div class="imagecontainer" fxLayout="row" fxLayoutAlign="center center">
    <img [src]="product.imageUrl">
  </div>


  <div class="productcontainer" fxLayout="column">
      <p class="productcategory">{{product.category}}</p>
      <h1>{{product.name}}</h1>
      <p class="productname">{{product.firstName}} {{product.lastName}} </p>
      <h2>{{product.price}}</h2>
      <p class="desc">{{product.description}}</p>

    <ec-button>Call</ec-button>
    <ec-button>Chat</ec-button>
</div>
