<section class="product">
  <div class="product__photo">
    <div class="photo-container">
      <div class="photo-main">
        <div class="controls">
          <i class="material-icons">share</i>
          <i class="material-icons">favorite_border</i>
        </div>
        <img src="/assets/mobile02.jpg">
      </div>

    </div>
  </div>
  <div class="product__info">
    <div class="title">
      <h1>ONE+ 6T</h1>
    </div>
    <div class="price">
      Rs. <span>45000</span>
    </div>

    <div class="description">
      <h3>Uploaded by: abcd</h3>
      <h3>About the Product...</h3>
      <p>qwertyuiopasdfghjklzxcvbnm</p>
      </div>
    <button class="buy--btn btn-success" >Call</button>
    <button class="buy--btn btn-primary">Chat</button>

  </div>
</section>

