.parent-container {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .container {

    margin-top: 5px;
    mat-card {
      width: 70%;
      margin: auto;
      .header {
        text-align: center;
        font-size: 25px;
      }
      .footer {
        text-align: center;
        margin-top: 15px;
        button {
          width: 35%;
          background-color: slategray;
          color: white;
          font-size: 18px;
        }
      }
      .image-container {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        label {
          padding: 10px;
          background: #192A56;
          display: table;
          color: #fff;
          border-radius: 4px;
        }

        input[type="file"] {
          display: none;
        }
      }
      .image-data {
        margin: 20px 0;
      }
    }
  }
}

