.parent-container {


  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .container {

    margin-top: 20px;
    mat-card {
      width: 70%;
      margin: auto;
      .header {
        text-align: center;
        font-size: 25px;
      }
      .footer {
        text-align: center;
        button{
          width: 35%;
          background-color: #8B4513;
          color: white;
          font-size: 18px;
        }
       }
    }
  }
}
