<div class="parent-container">
  <div class="container">
    <mat-card>
      <div class="header">
        Upload Product
      </div>
      <mat-card-content>
        <form [formGroup]="formGroup" (ngSubmit)="uploadProduct()">
          <mat-form-field>
            <input matInput placeholder="Product Name" type="text" formControlName="productName">
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="category" placeholder="Select a Category">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Product Description" type="text"
                      formControlName="productDescription"></textarea>
          </mat-form-field>


          <input placeholder="Upload Image" type="file" (change)="uploadImage($event)" formControlName="image">
          <div class="image-data">
            <mat-progress-bar *ngIf="uploadPercent!=100"
                              [value]="uploadPercent"></mat-progress-bar>
            <img width="100" height="100" *ngIf="uploadPercent == 100" [src]="downloadUrl"/>
          </div>

          <span style="font-size: 20px;padding: 10px;"><mat-progress-bar
            value="{{uploadPercent}}"></mat-progress-bar></span>
          <img width="100" height="100" *ngIf="downloadUrl&&uploadPercent==100" [src]="downloadUrl"/>
          <div class="footer">
            <button class="btn" type="submit">Upload</button>
          </div>


        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
