.parent-container {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  .container {

    margin-top: 5px;
    mat-card {
      width: 70%;
      margin: auto;
      .header {
        text-align: center;
        font-size: 25px;
      }
      .footer {
        text-align: center;
        button {
          width: 35%;
          background-color: slategray;
          color: white;
          font-size: 18px;
        }
      }
      .image-data {
        margin: 20px 0;
      }
    }
  }
}

