.parent-container {

  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    mat-card {
      width: 70%;
      margin: auto;
      .header {
        text-align: center;
        font-size: 25px;
      }
      .footer {
        text-align: center;
        button{
          width: 35%;
          
          color: white;
          font-size: 18px;
        }
      }
    }
  }
}
