
<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="30px">
      <div>
        <img [src]="product.imageUrl"/>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
        <p class="price">Price: {{product.price}}</p>
        <button (click)="onRemove()" class="button-small" >Remove </button>
       <label  class="button-small">Quantity
         </label><input type="number" min="1" >


      </div>
    </div>
  </mat-card-content>
</mat-card>
