<div class="row">
  <div class="column">
    <button mat-button class="category" (click)="onMobile()">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Mobile and Computers</mat-card-title>
        </mat-card-header>
        <img class="img-card" mat-card-image src="/assets/mobileandcomputers.png">
      </mat-card>
    </button>
  </div>
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Electronic Appliances</mat-card-title>
        </mat-card-header>
        <img class="img-card" mat-card-image src="/assets/electronicappliances.jpg">
      </mat-card>
    </button>
  </div>
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="align-content: center;">Home Appliances</mat-card-title>
        </mat-card-header>
        <img  class="img-card" mat-card-image src="/assets/homeappliances.jpg">
      </mat-card>
    </button>
  </div>
</div>

<div class="row">
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Men Clothing</mat-card-title>
        </mat-card-header>
        <img class="img-card" mat-card-image src="/assets/menclothing.jpg">
      </mat-card>
    </button>
  </div>
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Women Clothing</mat-card-title>
        </mat-card-header>
        <img class="img-card" mat-card-image src="/assets/womenclothing.jpg">
      </mat-card>
    </button>
  </div>
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="align-content: center;">Kids Clothing</mat-card-title>
        </mat-card-header>
        <img  class="img-card" mat-card-image src="/assets/kidsclothing.jpg">
      </mat-card>
    </button>
  </div>
</div>

<div class="row">
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Toys</mat-card-title>
        </mat-card-header>
        <img class="img-card" mat-card-image src="/assets/toys.jpg">
      </mat-card>
    </button>
  </div>
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Vehicles</mat-card-title>
        </mat-card-header>
        <img class="img-card" mat-card-image src="/assets/vehicles.jpeg">
      </mat-card>
    </button>
  </div>
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title style="align-content: center;">Books</mat-card-title>
        </mat-card-header>
        <img  class="img-card" mat-card-image src="/assets/books.png">
      </mat-card>
    </button>
  </div>
</div>

<div class="row">
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Music, Games and Movies</mat-card-title>
        </mat-card-header>
        <img class="img-card" mat-card-image src="/assets/movies.jpg">
      </mat-card>
    </button>
  </div>
  <div class="column">
    <button mat-button class="category">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Miscellaneous</mat-card-title>
        </mat-card-header>
        <img class="img-card" mat-card-image src="/assets/miscellaneous.jpg">
      </mat-card>
    </button>
  </div>
