@import "~src/variables";

.header {
  margin: 30px 50px;
  color: $color-primary;
  .img {
    width: 100px;
    height: 100px;

    &-md {
      width: 90px;
      height: 90px;
    }
    &-sm {
      width: 80px;
      height: 80px;
    }
    &-xs {
      width: 60px;
      height: 60px;
    }
  }
}

.container {
  margin-top: 20px;
  h3 {
    color: $color-primary;
  }
  mat-card {
    margin: 10px 0;
    .google-btn {
      cursor: pointer;
    }
  }
}

.footer {
  background-image: url("../../../../assets/wave.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}


