@import "~src/variables";
@import  url(https://fonts.googleapis.com/css?family=Montserrat);
.chat-element {
  padding: 20px;

}

img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.element-container {
  margin: 15px 15px 5px 25px;

}

.element-name {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 8px;
}
.element-text{
  color: slategray;
  font-size: small;
}
.element-time{
  margin-top: 40px;
  margin-left: 900px;
  font-size: small;
  color: slategray;
}
.element-count{
  margin-top: 50px;
  margin-left: 900px;
  font-size: small;
  color: slategrey;
  border-radius: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#CCC), to(#CCC), color-stop(50%, #333));
}

.conversation-container {
  &__header {
    background-color: $color-primary;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 35px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    font-family: Raleway;
  }
  &__content {
    padding: 0 20px;
    margin-top: 5px;
  }


}
$width: 35px;
$height: 35px;
$bounce_height: 50px;
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
}
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  color: #192A56;
  display: inline-block;
  margin-left: 5px;
}
.bounceball {
  position: relative;
  display: inline-block;
  height: 57px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #192A56;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}
@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 15px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

