<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="First Name" [formControl]="fname" required>
    <mat-error *ngIf="fname.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <input matInput placeholder="Last Name" [formControl]="lname" required>
    <mat-error *ngIf="lname.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <input matInput placeholder="Email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <input matInput placeholder="Phone number" [formControl]="phone" required>
    <mat-error *ngIf="phone.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <input matInput placeholder="Password" [formControl]="pwd" required>
    <mat-error *ngIf="pwd.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <input matInput placeholder="Confirm Password" [formControl]="cpwd" required>
    <mat-error *ngIf="cpwd.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field><br>

  <button class="btn btn-primary">Signup</button>
</div>
