<p *ngIf="userId===message.sender && message.type==textMessage" class="from-me">
  {{message.text}}
  <span id="stamp">
    {{time | date: 'shortTime'}}
  </span>
    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
     <mat-icon>keyboard_arrow_down</mat-icon>
   </button>
</p>
<p *ngIf="userId!==message.sender && message.type==textMessage" class="from-them">
    {{message.text}}
  <span id="stamp">
      {{time | date: 'shortTime'}}
  </span>
   <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>keyboard_arrow_down</mat-icon>
   </button>
</p>


<p *ngIf="userId==message.sender && message.type==imageMessage" class="from-me">
  <img [src] = "message.image.image_url">
  {{message.image.caption}}
  <span id="stamp">
    {{time | date: 'shortTime'}}
  </span>
  <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</p>
<p *ngIf="userId!==message.sender && message.type==imageMessage" class="from-them">
  <img [src] = "message.image.image_url">
  {{message.image.caption}}
  <span id="stamp">
      {{time | date: 'shortTime'}}
  </span>
  <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</p>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteMessage()">
        <span>Delete Message</span>
      </button>
      <button mat-menu-item (click)="forward()">
        <span>Forward Message</span>
      </button>
    </mat-menu>


