<div class="chat-container">

  <div class="header" fxLayout="row">
    <div class="picture">
      <img src = '/assets/oneplus.jpg'>
    </div>
    <div class="username">
      Manvi
    </div>
      <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Attach a File</span>
        </button>
        <button mat-menu-item>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
  </div>

  <div class="footer">
    <div class="input-text">
      <input type = "text" placeholder="Type a message...">
      <mat-icon>send</mat-icon>
    </div>
  </div>
</div>
