<div class="chat-window">
  <div class="chat-window__menu-bar" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <img src="/assets/oneplus.jpg" alt="image"/>
      <h3>Manvi</h3>
    </div>
    <div>
      <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Attach a File</span>
        </button>
      </mat-menu>
    </div>

  </div>
  <div class="chat-window__message-area">
    <p class="from-me">Hey there! What's up</p>
    <p class="from-them">Checking out iOS7 you know..</p>
    <p class="from-me">Check out this bubble!</p>
    <p class="from-them">It's pretty cool!</p>
    <p class="from-me">Yeah it's pure CSS &amp; HTML</p>
    <p class="from-them">Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>
  </div>
  <div class="chat-window__input-area" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
    <input fxFlex="1 1 auto" type="text" placeholder="Type a message..." class="form-control" [formControl]="message">
    <button *ngIf="showSendMessageButton" mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
