@import "~src/variables";

.input-text{
 // float: bottom;
 margin:10px;
}

.chat-container{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), lighten($color-primary,0.9));
  position: relative;
  height: 100vh;
}

input[type = text]{
  border-radius: 15px;
  width: 1100px;
  box-sizing: border-box;
  border: none;
  padding: 8px;
}

.footer{
  position: absolute;
  margin-top: 620px;
  background-color: #e7e7e7;
 // padding: 15px;
}

mat-icon{
  margin-left: 10px;
  margin-right: 5px;
}

img{
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.header{
  background-color: $color-primary;
  padding: 10px 15px 15px 10px;
  height: 70px;
}
.username{
  font-weight: bold;
  font-size: medium;
  margin-bottom: 8px;
  margin-left: 15px;
  margin-top: 15px;
  color: white;
}

 .menu-button{
  color: white;
  margin-left: 1000px;
}
