<div class="chat-window">
  <div class="chat-window__menu-bar" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <avatar *ngIf="!profileUrl" size="50" [name]="firstName" [displayType]="'circle'"></avatar>
      <img *ngIf="profileUrl" [src] = "profileUrl">
      <h3>{{firstName}} {{lastName}}</h3>
    </div>
    <div>
      <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <label mat-menu-item>
          Attach a File
          <input type="file" (change)="attachImage($event)" >
        </label>
      </mat-menu>
    </div>

  </div>
    <div #chatContainer class="chat-window__message-area">
      <mat-spinner  *ngIf="showSpinner"></mat-spinner>
      <ng-container *ngFor="let msg of messages">
        <app-chat-bubble (removeMessage)="removeMessage($event)" (forwardMessage)="forward($event)" [message]="msg"></app-chat-bubble>
      </ng-container>
    </div>
  <div class="chat-window__input-area" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
    <input fxFlex="1 1 auto" type="text" placeholder="Type a message..." class="form-control" [formControl]="message">
    <button *ngIf="showSendMessageButton" mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
