@import "~src/variables";

.chat-window {
  position: relative;
  height: 100%;
  &__menu-bar {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    background: linear-gradient(to right, lighten($color-primary, 5), lighten($color-primary, 15));
    color: white;
    padding: 10px 5px;
    h3 {
      font-size: 20px;
    }
    img {
      border-radius: 50px;
      width: 50px;
      height: 50px;
    }
  }
  &__message-area {
    height: calc(100% - 128px);
    padding: 0 15px;
    overflow: auto;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.12), lighten($color-primary, 0.9)),
    url("../../../../assets/chat.png");
    background-attachment: fixed;
    background-size: cover;
  }

  &__input-area {
    //position: -webkit-sticky;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 10px;
    background: lighten($color-primary, 5);
    input[type = text] {
      border-radius: 15px;
      width: 795px;
      box-sizing: border-box;
      border: none;
      padding: 8px;
    }
    mat-icon {
      color: $color-white;
      font-size: 26px;
    }
  }
}
body {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: normal;
  max-width: 450px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
