@import "~src/variables";

.home-container {
  position: relative;
  height: calc(100vh - 64px);
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), lighten($color-primary,0.9)),
  url("../../../../assets/home-bg.jpg");
  &__content {
    position: absolute;
    color: $color-white;
    left: 32%;
    top: 30%;
    h3 {
      font-size: 33px;
    }
    p {
      font-size: 24px;
    }
  }
}
