@import "~src/variables";

.home-container {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), lighten($color-primary,0.9)),
  url("../../../../assets/home-bg.jpg");
  &__content {
    position: absolute;
    color: $color-white;
    left: 35%;
    top: 30%;
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 26px;
    }
  }
}
