<mat-sidenav-container>
  <mat-sidenav [mode]="'side'" [opened]="true" [fixedInViewport]="true">
    <div class="sidenav-header" fxLayout="row" fxLayoutGap="20px">
      <mat-icon>dashboard</mat-icon>
      <h3>Dashboard</h3>
    </div>
    <div class="divider"></div>
    <div class="category-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Categories
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Electronic Appliances</p>
          <p>Home Appliances</p>
          <p>Men Clothing</p>
          <p>Women Clothing</p>
          <p>Kids Clothing</p>
          <p>Toys</p>
          <p>Vehicles</p>
          <p>Books</p>
          <p>Movies, Music and Videos</p>
          <p>Others</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="divider"></div>
    <div class="side-nav-options">
      <mat-icon>account_circle</mat-icon>
      Profile
    </div>
    <div class="divider"></div>
    <div class="side-nav-options">
      <mat-icon>add_shopping_cart</mat-icon>
      Add Products
    </div>
    <div class="divider"></div>
    <div class="side-nav-options">
      <mat-icon>reply_all</mat-icon>
      Logout
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

