
.navbar-header {
  h2{
    margin-left: 40px;
    letter-spacing: 1.3px;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
}
.dropdown-container{
  cursor: pointer;
  color: white;
}
.category{
  height: 400px;
  width: 400px;
  margin-right: 40px;
  margin-left: 40px;
}
.img-card{
  height:200px;
  width: 350px;
}

