.notification-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  align-content: space-between;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
}

.error {
  background-color: #E84342;
}

.success {
  background-color: #218F76;
}
