// theme colors

$color-primary: #192A56;
$color-secondary: #10A881;
$color-accent: #535C68;
$color-danger: #BA2F16;

// general colors

$color-white: #ffffff;
$color-black: #000000;

$color-333945: #333945;
$color-A4B0BD: #A4B0BD;
$color-F4C724: #F4C724;
