/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "variables";

@font-face {
  font-family: Poppins-Black;
  src: url('assets/fonts/Poppins-Black.ttf');
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url('assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins-Thin;
  src: url('assets/fonts/Poppins-Thin.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins-Bold !important;
}

span, div {
  font-family: Poppins-Light;
}

.poppins-light {
  font-family: Poppins-Light !important;
}

.poppins-regular {
  font-family: Poppins-Regular !important;
}

.poppins-medium {
  font-family: Poppins-Medium !important;
}

.poppins-semibold {
  font-family: Poppins-SemiBold !important;
}

.poppins-bold {
  font-family: Poppins-Bold !important;
}

mat-form-field {
  display: block !important;
}

.mat-snack-bar-container {
  width: 100%;
  font-size: 16px;
  padding: 0 !important;
}

mat-icon {
  cursor: pointer;

}

.mat-icon-button {
  &:focus {
    outline: none;
  }
}

.mat-card {
  box-shadow: 1px 1px 2px 1px lighten($color-primary, 0.9) !important;
}

.mat-expansion-panel-content {
  background: lighten($color-primary, 5);
  cursor: pointer;

  .mat-expansion-panel-body {
    color: $color-white;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 40px;
  }
}

.mat-expansion-indicator::after {
  color: $color-white;
}

.button-small {
  width: 80px;
  height: 28px;
  font-size: 12px;
  padding: 2px;
  border-radius: 20px;
  background-color: $color-white;
  color: $color-primary;
  border: 2px solid $color-primary;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
.cdk-overlay-pane {
  max-width: 100vw !important;
}


.highlight {
  background-color: $color-F4C724;
}

emoji-picker {
  padding-right: 20px;
}
